body{
    font: 2em sans-serif;
    background-color:antiquewhite;
    margin:0 ;
}

#myh1{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    height: 150px;
    font-size:90px; 
    height: 190px;
    padding: 25px;   
    
}

#radius{
    margin-left: 10px;
    font-size: 60px;
}

#mytext{
    margin-left: 10px;
    width: 400px;
    height: 70px;
    font-size: 40px;

}

#submit{
    background-color: black;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    width: 200px;
    height: 70px;
    font-size: 45px;
    border-radius: 4px; 
    
}

#submit:hover{
    opacity: 0.8;
}

#submit:active{
    background-color: gray;
}

#myh3{
    color: #000;
    font-size: 80px;
    margin-top: 80px;

}
