body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}
h1 {
  color: rgb(6, 140, 145);
  text-align: center;
  font-size: 70px;
}
form {
  text-align: center;
  max-width: 425px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  background-color: rgb(229, 235, 240);
  padding: 25px;
}
#textbox {
  text-align: center;
  font-size: 2em;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
  font-weight: bold;
}
label {
  font-size: 1.5em;
  font-weight: bold;
}
button {
  margin-top: 15px;
  background-color: rgb(9, 165, 170);
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  color: aliceblue;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.6;
}
#result {
  font-weight: bold;
  font-size: 1.75em;
}
